 /* h1{
    color:pink;
}

p{
    color:chocolate;
}

button{
    color:black;
    background-color:#ffff00;
}

body{
    background-color:cornflowerblue;
}

#headingTwo {
    color:darkred;
}

.myClass{
    color:blue;

} */

/* p {
    text-align: left;
} */

/* h1 {
    text-align:center;
    text-decoration: red wavy underline;
    font-weight: bolder;
} */

/* #h1 {
    font-weight: normal;
}

#h2 {
    font-weight: bold;
}

#h3 {
    font-weight: bolder;
}

#h4 {
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}

#one {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#two {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

/* #one {
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
}

#two{
    font-size: 2px;
} */

/* 

h1 {
    text-transform: capitalize;
    text-align: center;
}

*{
    font-family: 'Times New Roman', Times, serif;
}

#outer {
    font-size: 25px;
}
#inner {
    font-size: 10px;
} */

/* div {
    height : 100px;
    width : 100px;
    background-color: green;
    border-radius: 50%;
    /* border-width:4px ;
    border-style: solid;
    border-color:black;
    /* border-radius:20%; */
    /* padding: 1px 2px 3px 4px;
    margin: 25px; */ 

    /* * {
        padding:0;
        margin:0;
        color :white;
    }

    #navbar {
        height: 60px;
        background-color: black;
    }

    button {
        background-color: #f08804;
    }

    #logo {
        color: #f08804;
        font-size: 25px;
    }

    a{
        margin-right: 200px;
        text-decoration: none;
    }  */

    /* div {
        width:100px;
        height:100px;
        margin:25px;
        padding:25px;
        display:inline-block;
        background-color: rgba(255,0,0,0.25);
    } */
     * {
        padding:0;
        margin:0;
        color :white;
    }

    #navbar {
        height: 60px;
        background-color: black;
    }

    button {
        background-color: #f08804;
    }

    #logo {
        color: #f08804;
        font-size: 25px;
    }

    a{
        margin-right: 200px;
        text-decoration: none;
    } 

    .contentbox {
  width: 200px;
  height: 200px;
  display: inline-block;
  border: 2px solid black;
}


    #content {
        height:500px;
    }

    footer {
        background-color: black;
        color :aliceblue
    }
    
